/out/production/FirstClassExercises/FactorialCalculation.class
/out/production/FirstClassExercises/HarmonicSeries.class
/out/production/FirstClassExercises/LeapYear.class
/out/production/FirstClassExercises/Main.class
/out/production/FirstClassExercises/OddOrEvenNumber.class
/out/production/FirstClassExercises/PrimeNumbers.class
/out/production/FirstClassExercises/RepresentationExercise.class
/out/production/FirstClassExercises/ZeroDivision.class
